header {
  padding: 1em;
  background-color: #b0b;
  color: white;
}
body {
  background-color: #333;
  color: white;
}

h1,
h2 {
  text-align: center;
}

ul {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

li {
  border: 1em solid white;
  list-style-type: none;
  padding: 1em;
  text-align: center;
}
